body{
    font-family: 'Trebuchet MS', 'Arial', sans-serif;
    text-align: center;
    padding-top: 100px;
}
input{
    width:200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    margin-bottom: 10px;;
    border-color: black;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}