body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;       
    background: #f5f5f5;      
}

.column {
    display: flex;
    flex-direction: column;   
    gap: 20px;                
    width: 300px;             
    margin: 50px auto;       
}

#orange-shelf,
#apple-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 25px;
}

#orange-shelf {
    background: #e3877b;      
}

#apple-shelf {
    background: #f2a76b;      
}
