/* Board container */
.board {
    width: 90%;
    max-width: 600px;
    margin:auto;
    padding: 40px 20px;
    background: #0b1d47;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Arial, sans-serif;
}

/* HOME / GUEST blocks */
.section {
    text-align: center;
}

/* Titles */
.section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Score box */
.score-box {
    width: 200px;
    height: 140px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 25px;
}

/* Red digital numbers */
.score-num {
    font-size: 70px;
    color: #ff3b3b;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

/* Button row (+1 +2 +3) */
.btn-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Buttons */
button {
    background: transparent;
    border: 2px solid #92a0cf;
    color: #92a0cf;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #92a0cf;
    color: #0b1d47;
}
@media (max-width: 600px) {
  .board {
    flex-direction: column;
    text-align: center;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}

